body{
    margin: 0;
  } 
  .wrapper{
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
  }
  .header, .footer{
    height: 10vh;
    background: #666;
  }
  .content {
    flex: 1;
    display: flex;
    color: #000;
  }